.home-button
{
    background-color: #808080;
    display: inline-block;
    padding: 7px 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 16px;
}

.home-button:hover
{
    background-color: #242526;
}

div
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* this kinda useless could just put it in body */
}

body
{
    background-color: #dfe6eb;
}

#h1-header
{
    background-color: #c7d7e2;
    text-align: center;
}

.header
{
    font-style: italic;
}

li, p
{
    line-height: 1.5;
}